<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><%= link_to 'Home', root_path %></a></li>
    <li class="breadcrumb-item active" aria-current="page">Topics</li>
  </ol>
</nav>

<%= link_to 'Create topic', new_topic_path %><br>

<h1>Topics:</h1>
<% @topics.each do |topic| %>
  <ul>
    <li><%= topic.name %></li>
  </ul>
<% end %>
