<h1 class='display-1'>Mondai</h1>

<% if user_signed_in? %>
  <%= link_to 'Send new question', new_question_path %><br>
  <%= link_to 'Your questions', questions_path %><br>
  <%= link_to 'Take a quizz', take_quizz_path %><br>
<% end %>
