<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<% if user_signed_in? %>
  <%= link_to 'Manage your questions', questions_path %><br>
  <%= link_to 'Topics', topics_path %><br>
  <%= link_to 'Take a quiz', take_quiz_path %><br>
<% end %>
